@import "styles/colors";
@import "styles/screens";


.main {
  color: $black;
  height: 80px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transition: all 200ms;
  padding: 0 20px;
  z-index: 2;

  &.hidden {
    top: -60px;
    opacity: 0.4;

    > * {
      opacity: 0;
      transition: opacity 200ms;
    }

    &:hover {
      top: 0;
      opacity: 1;

      > * {
        opacity: 1;
      }
    }
  }

  > div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1170px;
  }

  &__icon {
    width: 30px;
    padding: 10px;
    background-color: rgba($white, 0.7);
    border-radius: 50%;
    cursor: pointer;
    transition: all 200ms;
    margin-left: 20px;

    &:hover {
      transform: scale(0.97);
    }

    &:active {
      transform: scale(0.95);
    }

    > img {
      width: 100%;
    }
  }
}
