@import "styles/colors";
@import "styles/screens";


@mixin interactive {
  transition: all 200ms;
}

@mixin box-shadow {
  box-shadow: 0 0 4px 2px rgba($primary, 0.6);

  &:hover {
    box-shadow: 0 0 1px 1px $primary;
  }

}

@mixin scale {

  //&:hover {
  //  transform: scale(0.99);
  //}
  //
  &:active {
    transform: scale(0.98);
  }
}
