@import "styles/screens";
@import "styles/colors";


.main {
  display: flex;
  flex-direction: column;
  background-color: rgba($light-grey-1, 0.5);
  border-radius: 6px;

  padding: 20px;

  width: 90%;
  > * {
    margin-bottom: 20px;
    width: 100%;
  }
  > input {
    width: calc(100% - 28px);
  }
  > button {
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  > *:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $tablet) {
    width: 400px;
  }
}
