@import "styles/colors";
@import "styles/screens";


.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  > p {
    white-space: pre-wrap;
    margin-bottom: 20px;
  }

  > p:last-child {
    margin-bottom: 0;
  }
}
