$white: #fff;
$black: #1c1c1c;
$true-black: black;
$primary: #00B0F0;
$light-grey-1: #EDEDED;
$light-grey: #d5d5d5;
$grey: #C4C4C4;
$dark-grey: #868686;

$toggle-grey: #606060;

$danger: #fd4f4f;
$notice: #50a150;

